<<<<<<< HEAD:module2-solution/stylesheet/mod2.css
* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    
}
div {
    display: block;
}
.row > section {
	background-color: #ddd;
	border: 1px solid black;
	width: 30%;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;	
}

.row {
    margin: 10px;
    width: 100%;  
}

.section-title {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px;
    margin: 0;
}

p {
    clear: right;
    padding: 25px 10px 0 10px;
    font-size: 17px;
    
}
#chicken > h2 {
    background-color: red;
}
#beef > h2 {
    background-color: blue
}

#sushi > h2 {
    background-color: yellow;
}

@media (min-width: 992px) {
    #chicken, #beef, #sushi {
        width: 31%;
    }   
}

@media (max-width: 991px) {
    #chicken, #beef, #sushi {
        width: 47%;
    }

    #sushi {
        width: 96%;
    }
}

@media (max-width:767px) {
    #chicken, #beef, #sushi {
        width: 96%;
    }
}
=======
* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    
}
div {
    display: block;
}
.row > section {
	background-color: #ddd;
	border: 1px solid black;
	width: 30%;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;	
}

.row {
    margin: 10px;
    width: 100%;  
}

.section-title {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px;
    margin: 0;
}

p {
    clear: right;
    padding: 25px 10px 0 10px;
    font-size: 17px;
    
}
#chicken > h2 {
    background-color: red;
}
#beef > h2 {
    background-color: blue
}

#sushi > h2 {
    background-color: yellow;
}

@media (min-width: 992px) {
    #chicken, #beef, #sushi {
        width: 31%;
    }   
}

@media (max-width: 991px) {
    #chicken, #beef, #sushi {
        width: 47%;
    }

    #sushi {
        width: 96%;
    }
}

@media (max-width:767px) {
    #chicken, #beef, #sushi {
        width: 96%;
    }
}
>>>>>>> daa703c7b0c85dddeb9250aa34da181248ba7f7b:module2-solution/mod2.css
